@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@import url("https://fonts.googleapis.com/css?family=poppins:400,700,600");

@media (max-width: 600px) {

    .container {
        inline-size: min(100% - 4rem, 15rem) !important;
        margin-inline: auto;  
    }

    .media-scroller {
        grid-auto-columns: 82% !important;
        gap: 10px !important
    }
    .carousel-button {
        display: none !important;
    }
}
body {
    background-color: rgb(255, 255, 255);
}
.section-title {
    font-size: 24px;
    font-family: var(--font-family-poppins);
    padding: 15px;
    margin: 5px;
    color: var(--black);
}

:root {
    --black: rgba(0,0,0,1);
    --font-size-l: 15px;
    --font-family-poppins: "Poppins";
}

.poppins-semi-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.media-scroller {
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    padding: 25px;
    border-radius: var(--radius-2);
    gap: var(--spacer);
   
    background: white;
    justify-items: center;
}

.media-element > img{
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
}

.container {
    inline-size: min(100% - 4rem, 25rem);
    margin-inline: auto;  
}

.flow {
    display: grid;
    gap: var(--size-3);
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.carousel-button {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 .2rem;
    background-color: transparent;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.carousel-button:hover,
.carousel-button:focus {
    color: rgb(255, 255, 255);
}

.carousel-button:focus {
    outline: 1px solid rgba(78, 78, 78, 0.719);
    background-color: rgba(240, 248, 255, 0.521);
    border-radius: 10px;
}

.shop-button {
    background-color: white;
    border: 1px none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #00000040;
    height:34px;
    width:260px;
    align-self:center;
}

::-webkit-scrollbar {
    width: 1rem;
    height: .85rem;
}

::-webkit-scrollbar-track {
    background: rgb(221, 221, 221);
    border: .18em solid rgb(255, 255, 255);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: rgba(31, 30, 30, 0.849);
    border: .125em solid rgba(61, 61, 61, 0.425);
    border-radius: 100vw;
}